.main-text {
    color: indianred;
}
#text-in-p {
    color: lightblue;
}

/*Вложенные селекторы выбора: находим такие теги b, которые должны находиться внутри тега div, через запятую можно указывать 
сколько угодно тегов*/
div p b, div i {
    color: mediumblue;
}